*{
    color: white;
    font-family: 'Oswald', sans-serif;
}
header {
    text-align: center;
    margin: 0rem;
}
header h1{
    font-size: 3.5rem;
    margin: 1rem;
}
.preview{
    text-align: center;
    margin:4rem;
}
.guide{
    text-align: center;
}
.guide h2{
    font-size: 2rem;
    font-weight: 300;
}
.guide p{
    font-size: 1rem;
    color: gray;
}
.devleopment{
    margin: 3rem;
    text-align: center;
}
footer{
    text-align: right;
}

.link{
    color:aquamarine
}